body {
    font-family: serif;
    background-color: #f8c1cb;
    color: #19171B;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

#malla {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

button {
    background-color: #75020F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover:enabled {
    background-color: #9E4D57;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}
