body {
    background-color: pink;
    font-family: serif;
    color: #19171B;
    text-align: center;
}

h1, h2, h3 {
    margin: 10px 0;
}

.malla {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ramo {
    background-color: #75020F;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
}

.ramo:hover {
    background-color: #9E4D57;
}

.bloqueado {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.6;
}
